@model LoginModel
@{
    Layout = "_LayoutAcc";
}
@{
    ViewData["Title"] = "Вход";
}
<h1 class="align-items-center">Вход</h1>
<form method="post" asp-action="Login"> 
    <div class="mb-3">
        <label asp-for="Email" class="form-label m-0">Email</label>
        <input type="email" asp-for="Email" autocomplete="off" autofocus="true" class="form-control border-top-0 border-start-0 border-end-0 form-text" placeholder="Введите Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label m-0">Пароль</label>
        <input type="password" autocomplete="new-password" action="20" asp-for="Password" class="form-control border-top-0 border-start-0 border-end-0 form-text" placeholder="Введите пароль" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <div class="col-sm form-check">
            <input type="checkbox" asp-for="RememberMe" checked="checked" class="form-check-input" />
            <label asp-for="RememberMe" class="form-check-lable">Сохранить вход</label>
        </div>
    </div>
    <div class="mb-4">
        <button type="submit" class="btn btn-primary w-100">Войти</button>
    </div>
</form>
<h6>Или</h6>
<div class="mb-3 mt-3">
    <a class="btn btn-success w-100" asp-area="User" asp-controller="Register" asp-action="Register">Создайть аккаунт</a>
</div> 
