
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BioNetWork</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BioNetWork.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Accouting.css" asp-append-version="true" />
</head>
<body>
    <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="container mt-5">
                <div class="row justify-content-center align-content-center">
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 Accouting p-5">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            @DateTime.Now.Year <a asp-area="" asp-controller="Home" asp-action="Privacy">BioNetwork</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
