
@model BioNetWork.Areas.User.Models.LoginModel.Login
<div class="container mt-5">
    <div class="row justify-content-center align-content-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb=3">Авторизация</h1>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input type="email" asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Пароль</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" asp-for="RememberMe" class="form-check-input" />
                    <label asp-for="RememberMe" class="form-check-lable">помнить меня?</label>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Вход</button>
                </div>
            </form>
        </div>
    </div>
</div>